	<html ng-app="ionicApp">
	    <head>
			<script type="text/javascript">
			/*<![CDATA[*//*---->*/
			function enableSubmit(){
				if(document.getElementById("thisckbox").checked == 1){
					document.getElementById("thissubmit").disabled=false;
				}
				else{
					document.getElementById("thissubmit").disabled=true;
				}
			}
			/*--*//*]]>*/
			</script>
	        <meta charset="utf-8">
	        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	
	        <title>Ionic Template</title>
	        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	        <link href="http://code.ionicframework.com/0.9.27/css/ionic.min.css" rel="stylesheet">
	        <script src="http://code.ionicframework.com/0.9.27/js/ionic.bundle.min.js"></script>
	        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	
	
	        <link href="css/style.css" rel="stylesheet">
	        <script src="js/app.js"></script>
			<script src="js/validation.js"></script>
			<!-- for check box enable-->
			
	    </head>
	    <body>
	  <!-- ALL VIEW STATES LOADED IN HERE -->
	 <ion-nav-view></ion-nav-view>
	    <script id="Login.html" type="text/ng-template">
	        <!--HTML CONTENT RHP -->
	        <div class="panel" align=center>
	            <br>
	            <img src="img/idoc_logo.png" class="img-rounded" width=80px height=80px><br></img>
	            <div class="header_text">
					<h1>Your Virtual Hospital!</h1>
				</div>
	            <br><br><br>	
	            <img src="img/line_image.jpg" width=100% height=5px;>
	            <br><br>
	            <div class="forms">
	                <form name="form">
	                    <label for="Email">
	                        <input type="email"
	                               name="email" placeholder="Email Address" size=100%
	                               ng-model="user.email" 
	                               required>
	                        <span ng-show="form.email.$dirty && form.email.$error.required">Required</span>
	                        <span ng-show="form.email.$dirty && form.email.$error.email">Inavalid mail id</span>
	                    </label><br>
	                    <br><label for="Password">
	                        <input id="password" size=100% 
	                               placeholder="***********"
	                               type="password" 
	                               name="password" 
	                               ng-model="user.password"
	                               ng-minlength="8"
	                               ng-maxlength="12" 
	                               required>
	                        <span ng-show="form.password.$dirty && form.password.$error.required">Required</span>
	                        <span ng-show="form.password.$dirty && form.password.$error.minlength">too short!!</span>
	                        <span ng-show="form.password.$dirty && form.password.$error.maxlength">too lenght!!</span>
	                    </label><bR><br>	
	                    <button type="button" class="btn btn-danger">
	                        Log In
	                    </button>
	                    <br><br>
	                    <table>
	                        <tr>
	                            <td>
	                                <button class="button button-clear button-light" id="aslink" ng-click="signIn()" ui-sref="main.Addpatient">
	                                    Forgot Password ?&nbsp;&nbsp;&nbsp;
	                                </button>
	                            </td>
	                            <td >
	                                <div class="verticalLine">	
	                                </DIV>
	                            </td>
	                            <td >
	                                <button class="button button-clear button-light" id="aslink" ng-click="signIn()" ui-sref="main.Register">
	                                    &nbsp;&nbsp;&nbsp;Register
	                                </button>
	                            </td>
	                        </tr>
	                    </table>
	                </form>
	            </div>
	        </div>
	    </div>
	    <div id="footer">
	       <center>(c)2015 iDoc. All rights reserved</center> </div>
		</div>
	<!-- END Of THML CONTENT-->
	</ion-content>
	</ion-view>
</script>
<!-- Addpatient  page-->	
	<script id="Addpatient.html" type="text/ng-template">	
	    <!--    <ion-view title="{{navTitle}}"  left-buttons="leftButtons">
	            <ion-content has-header="true" padding="true">
	    -->
	    <!--HTML CONTENT RHP -->
		<ion-pane class="panel_ionic">
	      <ion-content>
	          <div class="main_content">
	              <div class="patient_topper">
					<table width="100%">
					<tr>
						<td><button class="button button-clear button-light" id="aslink" ng-click="signIn()" ui-sref="main.tabs">
	                                    &#xA0;&#xA0;&#xA0;Cancel
	                                </button>
						</td>
						<td><button class="button button-clear button-light" id="aslink" ng-click="signIn()" ui-sref="main.tabs">
	                                    &#xA0;&#xA0;&#xA0;Add a Patient		
	                                </button>
						</td>
						<td><button class="button button-clear button-light" id="aslink" ng-click="signIn()" ui-sref="main.tabs">
	                                    &#xA0;&#xA0;&#xA0;Done
	                                </button>
						</td>
					</tr>
					</table>
	              </div>
			<div class="body_content">
	                  <div class="list1">
	                  <table width="100%">
	                      <tr>
	                          <td><h1>PREFERRED NAME</h1></td>
	                      </tr>
	                      <tr>
	                          <td><label class="item item-input">Given Name
	                                  <input type="text" placeholder="Required" class="input_text"></label></td>
	                      </tr>
	                      <tr>
	                          <td><label class="item item-input">Family Name / Initial
	                                  <input type="text" placeholder="Required" class="input_text"></label></td>
	                      </tr>
	                      <tr>
	                          <td><h1>PERSON</h1></td>
	                      </tr>
	                      <tr>
	                          <td align="center" height=40px>
	                              <select class="input_text1">
	                                        <option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
	                                        <option>Female</option>
	                              </select>
	                          </td>
	                      </tr>
	                      <tr>
	                          <td><label class="item item-input">Date of Birth
	                                  <input type="date" placeholder="Required" class="input_text"></label></td>
	                      </tr>
	                      <tr>
	                          <td><h1>PERSONAL ADDRESS</h1></td>
	                      </tr>
	                      <tr>
	                          <td><label class="item item-input">Address1
	                                  <input type="text" placeholder="Required" class="input_text"></label></td>
	                      </tr>
	                      <tr>
	                          <td><label class="item item-input">Address2
	                                  <input type="text" placeholder="Required" class="input_text"></label></td>
	                      </tr>
	                      <tr>
	                          <td><label class="item item-input">City / Village
	                                  <input type="text" placeholder="Required" class="input_text"></label></td>
	                      </tr>
	                      <tr>
	                          <td><label class="item item-input">State
	                                  <input type="text" placeholder="Required" class="input_text"></label></td>
	                      </tr>
	                      <tr>
	                          <td><label class="item item-input">Postcode
	                                  <input type="text" placeholder="Required" class="input_text"></label></td>
	                      </tr>
	                      <tr>
	                          <td><label class="item item-input">Country
	                                  <input type="text" placeholder="Required" class="input_text"></label></td>
	                      </tr>
	                  </table>
	                      </div>
	              </div>   
	          </div>
	      </ion-content>
	    </ion-pane>
	    <!-- END OH THML CONTENT-->			
	</ion-content>
	</ion-view>    
	</script>
	
	
	<!-- Register page-->
	<script id="Register.html" type="text/ng-template">
	    <ion-pane class="panel_Registration">
		<ion-content>
          <div class="logo">
              <center>
					<br><img src="img/idoc_logo.png" class="img-rounded" width=80px height=80px><br>
              </center>
          </div>
          <div class="header_text">
              <h1>Your Virtual Hospital!</h1>
          </div>
          <div id="main_content">
              <form class="login" name="Register" id="Register">
                <div class="list list-inset1">
                    <table width="100%">
                        <tr>
                            <td>
                                <label class="item item-input">
                                   <i class="ion-ios-email-outline"></i>
                                   <input type="email" class="input_text"
	                               name="email" placeholder="Email Address"
	                               ng-model="user.email" 
	                               required>
                                </label>
                            </td>
                        </tr>
                        <tr>
							<td style=color:#fff; align=center>
								<span ng-show="Register.email.$dirty && Register.email.$error.required">Required</span>
	                        <span ng-show="Register.email.$dirty && Register.email.$error.email">Inavalid mail id</span> 
							</td>
                        </tr>
                        <tr>
                        <td>
                            <label class="item item-input">
                                <i class="ion-ios-locked-outline"></i>
                                <input type="password" class="input_text" placeholder="Password"  
                                name="password" ng-model="user.password" 
                                ng-minlength="8"
	                            ng-maxlength="12"
	                            maxlength="12"
	                            required>
                            </label>
                        </td>
                        </tr>
                        <tr>
							<td style=color:#fff; align=center>
								<span ng-show="Register.password.$dirty && Register.password.$error.required">Required</span>
								<span ng-show="Register.password.$dirty && Register.password.$error.minlength">too short!!</span>
	                        <span ng-show="Register.password.$dirty && Register.password.$error.maxlength">too lenght!!</span>
							</td>
                        </tr>
                        <tr>
                        <td>
                            <label class="item item-input">
                                <i class="ion-ios-contact-outline"></i>
                                <input type="text" placeholder="Name" class="input_text" ng-pattern="/^[a-z-A-Z]+$/"
                                name="name" ng-model="user.name" required ><!--onblur="return validation()"--> 
                            </label>
                        </td>
                        </tr>
						<tr>
							<td  style=color:#fff; align=center>
								<span ng-show="Register.name.$dirty && Register.name.$error.required">Required</span>
								<span ng-show="Register.name.$dirty && Register.name.$error.pattern">Not a Name!</span>
							</td>
						</tr>
                        <tr>
                        <td>
                            <label class="item item-input">
                                <i class="ion-ios-telephone-outline"></i>
                                <input type="tel" placeholder="Mobile" maxlength="10" maxlength="10" class="input_text" 
                                name="mobile" ng-model="user.mobile" min="10" ng-pattern="/^[0-9]+$/"
                                ng-minlength="8"
								ng-maxlength="12"
                                required>
                            </label>
                        </td>
                        </tr>
                        <tr>
							<td  style=color:#fff; align=center>
								<span ng-show="Register.mobile.$dirty && Register.mobile.$error.required">Required</span>
								<span ng-show="Register.mobile.$dirty && Register.mobile.$error.minlength">Mobile number should be in 10 digits</span>
								<span ng-show="Register.mobile.$dirty && Register.mobile.$error.pattern"> Mobile number should be numbers[0-9]!</span>
							</td>
						</tr>
                        <tr>
                            <td>
                                <div class="list">
                                    <label class="item item-input item-select">
                                    <div class="input-label">
							<!-- <i class="ion-android-contacts"></i>-->
                                    </div>
                                    <select class="input_text" name="gender" required>
                                        <option value="male">&nbsp;&nbsp;&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                        <option value="female">Female</option>
                                    </select>
                                </label>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="thisckbox" name="thisckbox" onclick="enableSubmit()"
                                required>
                                <label class="input_text2">&#xA0;&#xA0;I Agree</label> <a href="TermsAndCondition.html" class="input_text1">Terms and conditions</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><!--ng-disabled="Register.$invalid"-->
                                <button class="button button-small button-assertive" id="thissubmit" disabled>
                                    <b>&#xA0;Submit&#xA0;</b>
                                </button>
                                <!--ng-disabled="form.$invalid"-->
                            </td>
                        </tr>
                    </table>
                </div>
              </form>
          </div
          <br><br><br><br>
		  <div id="footer">
	        <center>(c)2015 iDoc. All rights reserved</center>
		  </div>
      </ion-content>
    </ion-pane>
	</script>
	
	
	
	<script id="mainContainer.html" type="text/ng-template">
	
	    <ion-side-menus>
	
	        <ion-pane ion-side-menu-content>
	            <ion-nav-bar type="bar-positive"
	                         back-button-type="button-icon"
	                         back-button-icon="ion-ios7-arrow-back"
	                         animation="nav-title-slide-ios7"
	                         >
	
	            </ion-nav-bar>
	            <ion-nav-view name="main"></ion-nav-view>
	        </ion-pane>
	
	        <ion-side-menu side="left">
	            <header class="bar bar-header bar-assertive">
	                <div class="title">Idoc</div>
	            </header>
	            <ion-content has-header="true">
	                <ul class="list">
	                    <a ui-sref="main.home" class="item" ng-click="toggleMenu()">Home</a>
	                    <a ui-sref="main.tabs" class="item" ng-click="toggleMenu()">Tabs</a>
	                </ul>
	            </ion-content>
	        </ion-side-menu>
	
	    </ion-side-menus>
	</script>
	
	
	<script id="TermsAndCondition.html" type="text/ng-template">
	    <ion-view title="{{navTitle}}" left-buttons="leftButtons">
	
	        <ion-pane class="panel_ionic">
      <ion-content>
        <div class="justify">
          <div class="main_content">
              <table width="100%">
                  <tr>
                      <td><h1>Terms and Conditions :</h1></td>
                      <td align="right"><img src="img/logo_new.jpeg" width="70" height="70"></td>
                  </tr>
              </table>
              <p>iDoc -  iDoc is offering the facility of clinical consultation using video conferencing facility
         (&quot;Tele-Consultation Services&quot; or &quot;Services&quot;) through its website https://iDoc.org.in (&#x201C;Website&quot;). 
         The following terms and conditions  govern all your transactions with respect to the Services including online appointment booking,
         payment and refunds and/or any and all other transactions through this Website or through its authorized third party websites. The Services
         available on the Website does not in any way constitute an invitation or recommendation to avail the Services. The Services provided through
         the Website are not intended in any way to be a substitute for face to face consultation with a health practitioner.
         iDoc advices the users to make independent determination in respect of its accuracy or usefulness and suitability prior to making any decision 
         in reliance hereof.
         </p>
         <br>
         
          <!--Availability, Appointment, Rescheduling and/ or Cancellation-->
         
         <p>Availability, Appointment, Rescheduling and/ or Cancellation:<br>
          Services shall be available for various specialties and as per the consultation fees as listed in
          the schedule on the Website. The Services with respect to a specific doctor/ physician shall be available
          subject to his/ her availability. Confirmation of your appointment with a specific doctor/ physician,
          as per his/ her availability, shall be sent to you via SMS and/ or e-mail. iDoc reserves the right to reschedule
          or cancel an appointment without any prior notice. The consultation time provided to you is indicative and
          actual consultation time may vary. Your appointment shall be deemed as cancelled in case of delay.</p>
         <br>
         
         <!--User Submissions/ Disclosures-->
         
         <p>User Submissions/ Disclosures:<br>
         You are required to submit/ upload certain personal and clinical information on the Website for
         seeking appropriate advice related to the condition of the patient. This information shall include
         patient details including clinical history, investigations results, reports, prescriptions,
         contact details,card holders name and other relevant details. You are advised to submit/ upload
         all relevant, complete and accurate information on the Website for availing the Services. iDoc
         reserves the right to cancel your appointment without assuming any liability whatsoever, if the
         information provided by you is found to be incomplete/ false/ deceptive/ inaccurate or misleading. iDoc
         may use your information for the purpose of providing the Services including analysis,
         research, training and disclosure (where required) to its affiliates, agents and government authorities.</p>
         <br>
         
         <!--Mode of Communication-->
         
         <p>Mode of Communication:<br>
         The Services available on the Website shall be provided to  you via video conferencing, telephonically
         or as an offline review.Please ensure that you are equipped with proper video conferencing equipments
         and internet connectivity to avail the Services. In case of inadequate video conferencing equipments,technical 
         error or defective internet connectivity your appointment shall be rescheduled or cancelled. You understand and 
         acknowledge that as the  Services shall be provided remotely therefore there shall be no physical  examination, 
         direct access/ contact or face to face consultation with the patient.The opinion delivered by the 
         doctor/ physician shall solely be based on the verbal communication between the concerned doctor/ physician 
         and the patient and the information provided/ uploaded by you on the Website.Always seek the advice of a 
         qualified health practitioner .for any questions that you may have regarding a medical condition. Any 
         consultation, advice or prescription given by the health practitioner during the consultation must be 
         clinically correlated with the findings of the physical examination of the Patient. iDoc shall not be 
         liable for misdiagnosis/ faulty judgment/ interpretation error/ perception error resulting from (i) your 
         failure to provide correct and/ or complete clinical information/ history about the patient in timely
         and clinically appropriate manner; or (ii) suppression of material facts; or (iii) your failure to provide 
         relevant clinical information about the patient; or (iv) misinterpretation of the advice/ prescription/ diagnosis
         by you; or (v) failure to follow doctor&apos;s advice/ prescription by you. Please note that the Services are 
         not meant in any way for emergency and life-threatening conditions.It is advised to take the patient to the 
         nearest hospital in such cases.</p>
         <br>
         
         <!--Cookies-->
               
         <p>Cookies:<br>
         For the purpose of storing your preferences, previous activities, browsing activities, profiling and
         tracking behavior on this Website, iDoc may use Cookies. Cookies are small data files that a Website stores on
         your web browser. By visiting this Website you acknowledge, accept and expressly authorize iDoc for
         the placement of Cookies on your web browser.</p>
         <br>
         
         <!--Service Fees &amp; Prescription Letter-->
        
         <p>Service Fees &amp; Prescription Letter:<br>
         The prescription letter shall be made available on the Website after receipt of the requisite
         consultation fees Service Fees from you.</p>
         <br>
         
         <!--Electronic Payments/ Refunds-->
            
         <p>Electronic Payments/ Refunds:<br>
         iDoc offers online mode of payment, hence, you may use internet banking or debit/ credit card for making payment 
         of the Service Fees. You shall be directed to our trusted payment gateway partners once you proceed to make payment 
         of Service Fees. iDoc shall not be liable in any manner whatsoever, if incorrect or inaccurate credit/debit card
         details are provided by you for making the payment of the Service Fees or you use a credit/ debit card which is not 
         lawfully owned by you or if you permit a third party to use your password or other means to access your account.
         iDoc shall keep the aforesaid information confidential at all times and  shall not utilize and share the same with any 
         of the third parties unless it is an authorized third party website and/ or required by law, regulation or court order.
         Refunds may be made on your request in case a legible recommendation/ prescription is not made available on the
         Website. Refunds may be processed within 15 working days from the receipt of a request from you.Request for refund 
         should be sent to (Email)</p>
         <br>
         
         <!--Copyright-->
            
         <p>Use of Content :Copyright<br>
         iDoc owns the Website as well as the intellectual property contained thereon including all programs,processes,
         designs, software, technologies, trademark, trade names, inventions and materials therein and all the services 
         offered by the doctors/physicians or others on the Website. If you allow other person to use/ access your debit/ credit card 
         or internet banking account then you will be responsible for any transaction they authorize. You shall not use the content
         available on the Website without the prior written permission of iDoc.</p>
         <br>
         
         <!--Privacy and Security-->
            
         <p>Privacy and Security:<br>
         iDoc uses secure encryption technology to keep your information safe and secured at all times.iDoc is committed 
         towards maintaining the privacy of the information uploaded by you on the Website and complies with the 
         industry standards security safeguards for the purpose of securing the Website and the information provided/ uploaded by you. 
         iDoc uses all reasonable endeavors to ensure the integrity of the online payment facility security. Despite our endeavors, 
         breaches of security and confidentiality could occur. You acknowledge that we are not liable for any loss suffered 
         by you as a result of any breaches in security.</p>
         <br>
         
         <!--Indemnity-->
             
         <p>Indemnity:<br>
         You agree and undertake to indemnify and keep indemnified iDoc, the concerned doctor/ physician and iDoc for any losses,
         costs, charges and expenses including reasonable attorney fees that the concerned doctor/physician and iDoc may suffer 
         on account of (a) misdiagnosis/faulty judgment/interpretation error/perception error arising from (i) your failure to 
         provide correct and/ or complete clinical information/ history about the patient in timely and clinically appropriate manner; 
         or (ii) suppression of material facts; or (iii) your failure to provide relevant clinical information about the patient;
         or (iv) misinterpretation of the advice/ prescription/ diagnosis by you; or (v) failure to follow doctor&apos;s advice/ 
         prescription by you; or (b) incorrect or inaccurate credit/ debit card details provided by you; or (c) using a credit/ debit 
         card which is not lawfully owned by you; or (d) if you permit a third party to use your password or other means to access your account.</p>
         <br>
         
         <!--Disclaimer-->
            
         <p>Disclaimer:<br>
         iDoc provides the Services on &quot;as is&quot; basis and expressly disclaims all representations,
         warranties or conditions of any kind, either expressed or implied, as to the operation of the Website, the information,
         content, services provided through or in connection with the Website. In no event shall iDoc be responsible for any third 
         party misuse for the data and for any acts, deeds and circumstances beyond the control of the management of iDoc. 
         You agree and acknowledge that you are solely responsible for your conduct.</p>
         <br>
         
         <!--Limitation of Liability-->
          
         <p>Limitation of Liability:<br>
         In no event shall iDoc be liable for any direct, indirect, punitive, incidental, special or consequential damages 
         or any damages whatsoever including without limitations, damages for loss of use, data or profits,arising out of or 
         in any way connected with the use of iDoc Services.</p>
         <br>
         
          <!--Termination-->
             
         <p>Termination:<br>
         This arrangement may be terminated by either party at any time, with or without cause. iDoc reserves the right to refuse the 
         use of Services immediately in case your conduct is deemed by iDoc to be in contravention of applicable acts,laws, rules and 
         regulations or considered to be unethical/ immoral.</p>
         <br>
         
         <!--Modification of Terms and conditions of Service-->
           
         <p>Modification of Terms and conditions of Service:<br>
         iDoc may at any time, without any prior notification to you, modify these terms and conditions. Please review the latest
         version of the terms and conditions before proceeding to avail the Services. If you continue to use the Service, 
         it shall be deemed that you agree to accept and abide by the modified terms and conditions.</p>
         <br>
         
         <!--General Terms and Conditions-->
           
         <p>General Terms and Conditions:<br>
         This agreement shall be governed by the laws of India and shall be subject to the exclusive jurisdiction
         of the courts at Chennai. iDoc makes no representations that the Services are appropriate for patients 
         in any other location except India as iDoc operates and controls this Website from India. If any part of this
         agreement is determined to be invalid or unenforceable pursuant to applicable law then the said provision will 
         be superseded by a valid, enforceable provision and the remainder of the agreement shall continue in effect. You 
         acknowledge that the relationship created through your use of this Website shall be of principal to principal. You 
         shall not represent yourself as a representative, agent or employee of iDoc. You represent and warrant that you are 
         not a minor (i.e. above 18 years of age) and that you are competent and eligible to enter into legally binding 
         agreement.The terms and conditions herein form an agreement. Please read this agreement carefully and if you 
         are not agreeable to any terms and conditions, please do not proceed further. By clicking on &quot;I Agree&quot; and proceeding 
         further you signify that you have read through, understood and accepted the aforementioned terms and conditions 
         of use of Services. You must agree to the above terms and conditions in order to avail the Services through the Website. 
         If you have any queries or need any clarification or assistance, please contact us at: +91 _______ or (Email)</p>
         <br>
                  <center>I <a href="registration_screen.html"> AGREE </a>to the terms and conditions.</center>
          </div>
        </div>
      </ion-content>
    </ion-pane>
	</script>
	
	</body>
	</html>
	
	