/* Empty. Add your own CSS if you like */
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*login page design beging*/
.panel {	
	padding-right:5%;padding-left:3%;
	width: 100%;
  	height: 100%;
	position:relative;
	top:0%;
        border-radius: 5px;
	/*background-color:#6699FF;*/
	background:url("../img/background_image_idoc.jpg") no-repeat;
	  margin: 0px auto;
	-webkit-background-size: cover;
                -moz-background-size: cover;
                 background-size: cover;
}
body{
	font-family: Georgia;
}
/* input controll design*/
.email{
	width:100%;
}
.panel input{
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  font-size: 15px;
  height: 40px;
	text-align:center;
}

/* end input controll design*/

button{
	width:30%;
	
}
#aslink{
	width:100%
}
.verticalLine {
	position:absolute;
	top:69%;
    border-left: 2px solid #fff;
	height:20px;
}
#footer{

	padding-left:20%;
	position:absolute;
	top:95%;
	color:#fff;
}
/*end of login page design*/
/*add patient design begining*/

.panel_ionic
{
	
	position: fixed;
	z-index: 1;
	min-height: 128px;
	background:url("../img/background_image_idoc.jpg") no-repeat center;     
    -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.patient_topper table tr td .button
{
    
    font-weight: bold;
    font-family: Georgia;
    font-size: 13px;
    color:#fff;
    
}
.patient_topper table tr td .button:hover
{
    font-weight: bold;
    font-family: Georgia;
    font-size: 15px;
    color:#000;
}
.body_content h1
{
    background-color: #c3c3c3;
    padding: 10px;
    color:#fff;
    font-family: Georgia;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}
.input_text
{
    text-align: right;
    font-family: Georgia;
    font-weight: bold;
    font-size: 14px;
    color:#000;
}
.input_text1
{
    background-color: #95212A;
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 16px;
    color:#fff;
	width=20px;
}
.body_content
{
    background-color: #fff;
}
.item
{
    font-family: Georgia;
    font-weight: bold;
    font-size: 15px;
    color:#000099;
}
.main_content table tr td
{
    padding: 5px;
}
.main_content p
{
    text-align: center;
    color:#fff;
    font-family: Georgia;
    font-weight: normal;
    font-size: 12px;
}
.main_content  h1
{
    color:#fff;
    font-family: Georgia;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}
/*end of add patient design*/
/*Registration design start*/
ion-pane.panel_Registration{
	
	background:url("../img/background_image_idoc.jpg") no-repeat;
	  margin: 0px auto;
	-webkit-background-size: cover;
                -moz-background-size: cover;
                 background-size: cover;
}
.header_text h1
{
    padding-bottom: 10px;
    text-align: center;
    color:#fff;
    font-family: Georgia;
    font-weight: bold;
    font-size: 15px;
}
.list table tr td
{
    padding: 10px;
}
.input_text
{
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 16px;
    color:#000;
}

.input_text2
{
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 14px;
    color:#fff;
}
.input_text1
{
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 14px;
    color:#0033ff;
    text-decoration: none;
}
.input_text1:hover
{
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 14px;
    color:#9999ff;
    text-decoration: underline;
}
.footer
{
    position: relative;
    top: 80px;
}
.footer h3
{
    text-align: center;
    color:#fff;
    letter-spacing: 1px;
    font-family: Georgia;
    font-size: 12px;
}
.item
{
    border-radius: 10px;
            
}
a
{
    color: #ffffff;
    text-decoration: none;
}
a:hover
{
    color:#4B54FA;
    text-decoration: underline;
}
.button
{
    font-family: Georgia;
    //border: 1px solid #000;
    //background: url('../img/bg_color.jpg') repeat-x;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}
hr
{
    background: url('../img/bg_line.png') no-repeat;
    height: 3px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.item
{
    height: 45px;
}
